@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600&display=swap");
@font-face {
  font-family: "MinSans-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* outline-style: none; */
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #ffa502;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Work Sans", "MinSans-Light", sans-serif;
  font-size: inherit;
  font-weight: 400;
  color: #000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  background-color: #f3f3f4;
  margin-top: 100px;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

/* 공통요소 */
.container {
  position: relative;
  display: block;
  width: 1400px;
  margin: 0 auto;
}

.line-v {
  position: relative;
  display: block;
  width: 1400px;
  height: 1px;
  margin: 0 auto;
  background-color: #ebebeb;
}

.title {
  position: relative;
  display: block;
  width: 25%;
  margin-top: 80px;
  text-align: right;
}

.title h2 {
  font-weight: 600;
  font-size: 60px;
}

.desc {
  position: relative;
  display: block;
  width: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 50px;
  margin-top: 150px;
}

.desc h3 {
  font-weight: 300;
  font-size: 30px;
}

.line-p {
  position: relative;
  display: block;
  width: 35px;
  height: 2px;
  background-color: #ffa502;
  margin: 20px 0;
}

.desc p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

.inner-left {
  position: relative;
  display: block;
  width: 20%;
  float: left;
  text-align: right;
}

.inner-right {
  position: relative;
  display: block;
  width: 70%;
  float: right;
  text-align: left;
}

li {
  position: relative;
  display: block;
  height: 30px;
  line-height: 1.7;
}

.highlight {
  position: relative;
  display: inline-block;
  height: 30px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.7;
}

.highlight::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  display: inline-block;
  width: 100%;
  height: 60%;
  background-color: #d4cdc3;
  opacity: 0.5;
  z-index: -1;
}

.row2 {
  height: 60px;
}

.row3 {
  height: 90px;
}

.row4 {
  height: 120px;
}

span,
p {
  font-size: 12px;
}

.large {
  display: block;
  font-size: 16px;
}

/* 전체 레이아웃 */
.wrap {
  position: relative;
  display: block;
}

/* 상단 */
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  z-index: 9;
}

.header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1150px;
  height: 100px;
}

.header-active {
  background-color: #fff;
}

.logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  position: relative;
  display: inline-block;
  vertical-align: 5px;
}

.logo a {
  position: relative;
  display: inline-block;
  font-size: 32px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.logo a:hover {
  color: #ffa502;
}

.nav {
  position: relative;
  display: block;
  width: 60%;
}

.nav .gnb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .gnb a {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav .gnb a:hover {
  color: #ffa502;
}

/* 메인 */
/* 비주얼 */
.main {
  position: relative;
  display: block;
}

.visual {
  position: relative;
  display: block;
}

.visual .container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visual .image-box {
  position: relative;
  display: block;
  width: 50%;
}

.visual .image-box img {
  mix-blend-mode: multiply;
}

.visual .text-box {
  position: relative;
  display: block;
  width: 50%;
  text-align: center;
}

.visual .text-box .text-words {
  position: relative;
  display: block;
}

.visual .text-box .text-words h1 {
  position: relative;
  display: block;
  font-weight: 600;
  height: 50px;
}

.visual .text-box .text-words p {
  position: relative;
  display: block;
  font-size: 28px;
  line-height: 1.6;
  height: 150px;
}

.visual .text-box .seemywork {
  position: relative;
  display: block;
}

.visual .text-box .seemywork h5 {
  position: relative;
  display: block;
  font-size: 40px;
  font-weight: 300;
}

.visual .text-box .seemywork span {
  position: relative;
  display: block;
  font-size: 20px;
  margin-top: 20px;
}

.blink {
  font-size: 28px;
  -webkit-animation-name: carrot;
          animation-name: carrot;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes carrot {
  0% {
    border-right: 2px solid #fff;
  }
  50% {
    border-right: 2px solid #000;
  }
  100% {
    border-right: 2px solid #fff;
  }
}

@keyframes carrot {
  0% {
    border-right: 2px solid #fff;
  }
  50% {
    border-right: 2px solid #000;
  }
  100% {
    border-right: 2px solid #fff;
  }
}

/* ABOUTME */
.aboutme {
  position: relative;
  display: block;
}

.aboutme .container {
  width: 1400px;
}

.intro-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1150px;
  height: 400px;
  margin: 0 auto;
}

.record-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1300px;
  height: 400px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.record-wrap .record-left,
.record-wrap .record-middle,
.record-wrap .record-right {
  position: relative;
  display: block;
  width: 32%;
  height: 100%;
  overflow: hidden;
}

.record-wrap .record-left h5:nth-child(1),
.record-wrap .record-middle h5:nth-child(1),
.record-wrap .record-right h5:nth-child(1) {
  background-color: #f9d9c4;
}

.record-wrap .record-left h5:nth-child(2),
.record-wrap .record-middle h5:nth-child(2),
.record-wrap .record-right h5:nth-child(2) {
  background-color: #fde8c3;
}

.record-wrap .record-left h5:nth-child(3),
.record-wrap .record-middle h5:nth-child(3),
.record-wrap .record-right h5:nth-child(3) {
  background-color: #d6ead8;
}

.record-wrap .record-left h5:nth-child(4),
.record-wrap .record-middle h5:nth-child(4),
.record-wrap .record-right h5:nth-child(4) {
  background-color: #cde1ec;
}

.record-wrap .record-left h5:nth-child(5),
.record-wrap .record-middle h5:nth-child(5),
.record-wrap .record-right h5:nth-child(5) {
  background-color: #e4dbeb;
}

.record-wrap .record-left h5:nth-child(6),
.record-wrap .record-middle h5:nth-child(6),
.record-wrap .record-right h5:nth-child(6) {
  background-color: #f3dce5;
}

.record-wrap .record-left h5:nth-child(7),
.record-wrap .record-middle h5:nth-child(7),
.record-wrap .record-right h5:nth-child(7) {
  background-color: #efeeed;
}

.record-wrap .record-left h5:nth-child(9),
.record-wrap .record-middle h5:nth-child(9),
.record-wrap .record-right h5:nth-child(9) {
  background-color: #d6ead8;
}

.record-wrap .record-left h5:nth-child(10),
.record-wrap .record-middle h5:nth-child(10),
.record-wrap .record-right h5:nth-child(10) {
  background-color: #efeeed;
}

.record-wrap .record-left h5:nth-child(11),
.record-wrap .record-middle h5:nth-child(11),
.record-wrap .record-right h5:nth-child(11) {
  background-color: #f3dce5;
}

.record-wrap .record-left h5:nth-child(12),
.record-wrap .record-middle h5:nth-child(12),
.record-wrap .record-right h5:nth-child(12) {
  background-color: #fde7c3;
}

.record-wrap .record-left h5:nth-child(13),
.record-wrap .record-middle h5:nth-child(13),
.record-wrap .record-right h5:nth-child(13) {
  background-color: #e4dbeb;
}

.record-wrap .record-title {
  position: relative;
  display: block;
  font-size: 30px;
  margin-bottom: 50px;
}

.record-wrap h5 {
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  font-weight: 400;
  color: #000;
  padding: 10px;
  margin-bottom: 5px;
}

.vision-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.vision-wrap .record-title-side {
  position: relative;
  display: block;
  font-size: 30px;
  text-align: left;
  margin-bottom: 50px;
}

.vision-wrap .lineForPossiblity {
  position: absolute;
  left: calc(50% - 125px);
  top: 15px;
  width: 35%;
  height: 2px;
  background-color: #000;
}

.vision-wrap .vision {
  position: relative;
  display: block;
  width: 45%;
  height: 500px;
  text-align: left;
}

.vision-wrap .vision .feat {
  display: block;
}

.vision-wrap .vision .strong {
  font-weight: 600;
}

.possibility li {
  margin-bottom: 10px;
}

.vision-wrap .vision .inner {
  margin-top: -10px;
}

.roadmap .lineForPossiblity {
  left: calc(50% - 160px);
}

/* PORTFOLIO */
.portfolio {
  position: relative;
  display: block;
  text-align: center;
}

.portfolio .left,
.portfolio .right {
  position: relative;
  display: block;
  width: 50%;
  float: left;
  margin-top: 50px;
  border-right: 1px solid #ebebeb;
}

.portfolio .right {
  border-right: none;
}

.portfolio .description {
  position: relative;
  display: block;
  margin-bottom: 100px;
}

.portfolio .description h2 {
  position: relative;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
}

.portfolio .description span,
.portfolio .description p {
  position: relative;
  display: block;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 300;
}

.portfolio .skills {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 380px;
  margin-top: 50px;
  margin-left: 150px;
}

.portfolio .skills .skill-box {
  position: relative;
  display: block;
}

.portfolio .skills .skill-box i {
  font-size: 40px;
}

.portfolio .skills .skill-box span {
  font-size: 14px;
  font-weight: 300;
}

.portfolio .site {
  position: relative;
  display: block;
  margin-top: 50px;
}

.portfolio .site a {
  position: relative;
  display: block;
}

.portfolio .site a img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-filter 0.3s, -webkit-box-shadow 0.3s;
  transition: filter 0.3s, box-shadow 0.3s;
  transition: filter 0.3s, box-shadow 0.3s, -webkit-filter 0.3s, -webkit-box-shadow 0.3s;
}

.portfolio .site a img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.02);
          box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.02);
}

.portfolio .link {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin-top: 30px;
}

.portfolio .link .link-wrap {
  position: relative;
  display: block;
}

.portfolio .link .link-wrap li {
  position: relative;
  display: block;
  float: left;
  margin: 0 15px;
}

.underline {
  position: relative;
  display: block;
}

.underline::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #000;
  top: 100%;
  left: 0;
  -webkit-transition: width 0.3s cubic-bezier(0.4, 1, 0.8, 1);
  transition: width 0.3s cubic-bezier(0.4, 1, 0.8, 1);
}

.underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #000;
  top: calc(100% - 3px);
  right: 0;
  -webkit-transition: width 0.3s cubic-bezier(0.4, 1, 0.8, 1);
  transition: width 0.3s cubic-bezier(0.4, 1, 0.8, 1);
}

.underline:hover::before, .underline:hover::after {
  width: 100%;
}

.underline:hover {
  color: #000;
}

.portfolio .line-s {
  position: relative;
  display: block;
  width: 5%;
  height: 2px;
  background-color: #ddbea9;
  background-color: #b7b7a4;
  background-color: #a5a58d;
  margin: 0 auto;
}

.portfolio .line-s:last-child {
  display: none;
}

.portfolio .more {
  position: relative;
  display: block;
  width: 250px;
  height: 60px;
  border: 1px solid #d7d4cd;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  letter-spacing: -0.8px;
  margin: 100px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 100px auto;
}

.portfolio .more:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

/* EXPERIENCES */
.experiences {
  position: relative;
  display: block;
}

.experiences .title {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  margin: 80px 0;
  margin-left: 30px;
  text-align: left;
}

.experiences .title div {
  position: relative;
  display: block;
}

.experiences .title div p {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 30px;
}

.experiences .experiences-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
  height: 780px;
  margin: 0 auto;
  padding-top: 100px;
}

.experiences .experiences-wrap .experiences-box {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  margin: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.experiences .experiences-wrap .experiences-box:nth-child(1) {
  background: url("../images/travel.jpg");
}

.experiences .experiences-wrap .experiences-box:nth-child(2) {
  background: url("../images/catperson.jpg");
}

.experiences .experiences-wrap .experiences-box:nth-child(3) {
  background: url("../images/gallery.jpg");
}

.experiences .experiences-wrap .experiences-box:nth-child(4) {
  background: url("../images/challenge1.jpg");
}

.experiences .experiences-wrap .experiences-box:nth-child(5) {
  background: url("../images/coding.jpg");
}

.experiences .experiences-wrap .experiences-box:nth-child(6) {
  background: url("../images/book.jpg");
}

.experiences .experiences-wrap .experiences-box:hover .experiences-detail {
  opacity: 0.8;
}

.experiences .experiences-wrap .experiences-box:hover .experiences-detail h3 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.experiences .experiences-wrap .experiences-box:hover .experiences-detail span {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.experiences .experiences-wrap .experiences-box .experiences-detail {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 30px;
}

.experiences .experiences-wrap .experiences-box .experiences-detail h3 {
  position: relative;
  display: block;
  font-size: 20px;
  text-align: center;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
          transform: translate3d(0, -15px, 0);
  padding-top: 80px;
  padding-bottom: 20px;
}

.experiences .experiences-wrap .experiences-box .experiences-detail span {
  position: relative;
  display: block;
  color: #999999;
  color: #000;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
          transform: translate3d(0, 15px, 0);
}

/* 하단 */
.footer {
  position: relative;
  display: block;
}

.footer .container {
  width: 1400px;
  height: 500px;
}

.footer .container .contact-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 150px;
}

.footer .container .contact-wrap .title {
  position: relative;
  display: block;
  text-align: left;
  margin-top: 0;
  width: 20%;
}

.footer .container .contact-wrap .contact-left {
  position: relative;
  display: block;
  width: 50%;
  padding: 50px;
  text-align: center;
}

.footer .container .contact-wrap .contact-left h3 {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer .container .contact-wrap .contact-left p {
  position: relative;
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.footer .container .contact-wrap .contact-left .contactinfo {
  position: relative;
  display: block;
  margin-top: 50px;
}

.footer .container .contact-wrap .contact-left .contactinfo span {
  position: relative;
  display: block;
  height: 30px;
  cursor: pointer;
}

.footer .container .contact-wrap .contact-left .contactinfo span a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.footer .container .contact-wrap .contact-right {
  position: relative;
  display: block;
  width: 30%;
  float: right;
}

.footer .container .contact-wrap .contact-right img {
  position: relative;
  display: block;
}
/*# sourceMappingURL=style.css.map */